atomicwrites==1.3.0
attrs==18.2.0
click==6.7
enum-compat==0.0.2
eventlet==0.21.0
Flask==0.12.2
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
more-itertools==5.0.0
pathlib2==2.3.3
pluggy==0.8.1
py==1.7.0
pytest==4.2.1
python-engineio==1.7.0
python-socketio==1.8.1
six==1.11.0
Werkzeug==0.12.2