body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}

h1, h2, h3 {
	line-height: 1.2;
}

.playingCards .card.trump {
    -moz-box-shadow: .2em .2em .5em #ff02c7;
    -webkit-box-shadow: .2em .2em .5em #ff02c7;
    box-shadow: .2em .2em .5em #ff02c7;
}

.playingCards .card.selected {
    top: -1em;
}

.playerInfo {
	width: 50%;
	float: left;
}

.gameInfo div {
	width: 50%;
	float: left;
}

.playerHand {
	clear: left;
}

.heading {
	font-weight: bold;
	font-size: 20px;
}