body {
	margin: 0;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	font-family: 'Roboto', sans-serif;
	background-color: #033301;
}

html,
body,
#app,
#modeGame {
  height: 100%; /* needed for proper layout */
}

#modeRegister,
#modeList {
	padding: 30px;
    border-radius: 10px;
}

.playingCards ul.hand {
	margin: 0 auto;
}

.fade-enter-active {
	transition: opacity .3s;
}

.fade-leave-active {
	transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

.list-enter-active, .list-leave-active {
	transition: all 0.5s;
}

.list-enter {
	opacity: 0.9;
	transform: translateY(-75px);
}

.list-leave-to /* .list-leave-active below version 2.1.8 */ {
	opacity: 0;
	transform: translateY(-75px);
}

#app {
	background-color: #eee;
}

#modeGame {
	display: flex;
	flex-direction: column;
}

.game-header {
	flex: 0 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.game-body {
	flex: 1 1 auto;
	position: relative;
	overflow-y: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}
.game-footer {
	flex: 0 0 auto;
	background-color: #ffdede;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 10px;
}

h1, h2, h3 {
	line-height: 1.2;
}

.playingCards .card.trump {
	background-color: #fff4ac;
}

.inHand .card {
    transition: 0.2s;
}

.inHand .card:hover {
	cursor: pointer;
	transform: translateY(-0.4em);
}

.playingCards .card.selected {
	cursor: pointer;
	transform: translateY(-1em);
}

.playerInfoContainer {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
    	". top ."
    	"left top right"
    	"left bottom right"
    	". bottom ."
}

.topPlayer {
	grid-area: top;
}

.leftPlayer {
	grid-area: left;
}

.rightPlayer {
	grid-area: right;
}

.bottomPlayer {
	grid-area: bottom;
}

.playerInfo {
	text-align: center;
}

.gameInfo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
	". trump-info . points-info leave-game"
}

.trump-info {
	grid-area: trump-info;
	text-align: center;
}

.points-info {
	grid-area: points-info;
	text-align: center;
}

.leave-game {
	grid-area: leave-game;
	text-align: right;
}

.playerButtons {
	text-align: center;
}

.points {
	text-align: right;
}

.heading {
	font-weight: bold;
	font-size: 20px;
}

.playerName.turn {
	font-weight: bold;
}

.playerName.left {
	font-style: italic;
}

.title {
	text-align: center;
	font-weight: bold;
	margin: 0px;
}
