<!doctype html>

<!--Template for card component -->
<script type="text/x-template" id="card-template">
	<div :class="classObj" v-on:click="toggleSelected">
		<span class="rank">{{ rankDisplay }}</span>
		<span class="suit">
			<!-- We use the raw html to display the normal suits properly. -->
			<div v-html="suitDisplay"></div>
		</span>
	</div>
</script>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>80 Points</title>
	<meta name="description" content="80 Points">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Oswald:700|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="css/cards.css?v=1.0">
	<link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
	<div id="app">
		<div id="modeRegisterAndList" v-if="mode == 'register' || mode == 'list'">
			<h2 class="title">80 POINTS</h2>
			<a href="https://en.wikipedia.org/wiki/Sheng_ji" target="_blank">Game Rules</a>
			<div v-if="mode == 'register'">
				<span class="heading">Login: </span>&nbsp;
				<input v-model="playerName" placeholder="player name" @keyup.enter="register(playerName)">
				<button v-on:click="register(playerName)">Login</button>
				<template v-if="debug">
					<li v-for="index in 4" >
						<a href="#" v-on:click="register('player' + index)">player{{ index }}</a>
					</li>
				</template>
			</div>
			<div v-if="mode == 'list'">
				<div>
					<span class="heading">Create game: </span>&nbsp;
					<input v-model="createGameOptions.name" placeholder="game name" @keyup.enter="createGame(createGameOptions.name, createGameOptions.numPlayers)">
					<select v-model="createGameOptions.numPlayers">
						<option>4</option>
					</select>
					<button v-on:click="createGame(createGameOptions.name, createGameOptions.numPlayers)">Create</button>
				</div>
				<div>
					<button v-on:click="refreshGameList()">Refresh Game List</button>
				</div>
				<div v-for="game in gameList" >
					<a href="#" v-on:click="joinGame(game.id)">
						{{ game.name }} ({{ game.occupied }}/{{ game.total }})
					</a>
				</div>
			</div>
		</div>
		<div id="modeGame" v-if="mode == 'game'">
			<div class="game-header">
				<div class="gameInfo">
					<a href="https://en.wikipedia.org/wiki/Sheng_ji" target="_blank">Game Rules</a>
					<div class="trump-info">
						<b>Trump: </b>{{ trumpRank }} {{ suits[trumpSuit] }}
					</div>
					<div class="points-info">
						<b>Points: </b>{{ attackingPoints }}
					</div>
					<div class="leave-game">
						<button v-on:click="leaveGame()">Leave Game</button>
					</div>
				</div>
			</div>
			<div class="game-body">
				<div class="playerInfoContainer">
					<div :class="['playerInfo', playerPosition(index)]" v-for="(player, index) in players">
						<p
							class="playerName"
							:class="{
								turn: turn == index,
								left: player.left,
							}">
							<template v-if="player.left && isObserver">
								<a href="#" v-on:click="joinGameAs(game_id, index)">
									{{ player.name }}
								</a>
							</template>
							<template v-else>
								{{ player.name }}
							</template>
						</p>
						<div class="playingCards fourColours">
							<ul class="hand" :style="handStyle(board[index])">
								<transition name="fade">
									<div v-if="board[index] && board[index].length > 0">
										<li v-for="card in board[index]">
											<card :suit="card.suit" :rank="card.value"
												:trump-suit="trumpSuit" :trump-rank="trumpRank">
											</card>
										</li>
									</div>
								</transition>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="game-footer">
				<template v-if="cards.length > 0">
					<div class="playerButtons">
						<span>
							<template v-if="status == 'dealing'">
								<button v-on:click="declare" :disabled="selectedCards.length == 0">Declare</button>
							</template>
							<template v-if="canSetBottom">
								<button v-on:click="setBottom" :disabled="selectedCards.length != bottomSize">Set Bottom</button>
								<button v-on:click="getSuggestedBottom">Suggest</button>
							</template>
							<template v-if="status == 'playing'">
								<button v-on:click="play" :disabled="!canPlay || selectedCards.length == 0">Play</button>
								<button v-on:click="getSuggestedPlay" :disabled="!canPlay">Suggest</button>
							</template>
						</span>
					</div>
				</template>
				<template v-if="isError">
					<p> {{errorMsg}} </p>
				</template>
				<div class="playingCards fourColours inHand">
					<ul class="hand" :style="handStyle(cards)">
						<transition-group name="list">
							<li v-for="card in cards" v-bind:key="card.key">
								<card :suit="card.suit" :rank="card.value"
									:selected="card.selected" v-on:update-selected="val => card.selected = val"
									:selectable="canSelectNewCards"
									:trump-suit="trumpSuit" :trump-rank="trumpRank">
								</card>
							</li>
						</transition-group>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="js/socket.io.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="js/app.js"></script>
</body>
</html>
