<!doctype html>

<!--Template for card component -->
<script type="text/x-template" id="card-template">
	<div :class="classObj" v-on:click="toggleSelected">
		<span class="rank">{{ rankDisplay }}</span>
		<span class="suit">
			<!-- We use the raw html to display the normal suits properly. -->
			<div v-html="suitDisplay"></div>
		</span>
	</div>
</script>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>80 Points</title>
	<meta name="description" content="80 Points">
	<link rel="stylesheet" href="css/cards.css?v=1.0">
	<link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
	<div id="app">
		<div id="modeRegister" v-if="mode == 'register'">
			<span class="heading">Login: </span>&nbsp;
			<input v-model="playerName" placeholder="player name">
			<button v-on:click="register(playerName)">Login</button>
			<template v-if="debug">
				<li v-for="index in 4" >
					<a href="#" v-on:click="register('player' + index)">player{{ index }}</a>
				</li>
			</template>
		</div>
		<div id="modeList" v-if="mode == 'list'">
			<div>
				<span class="heading">Create game: </span>&nbsp;
				<input v-model="createGameOptions.name" placeholder="game name">
				<select v-model="createGameOptions.numPlayers">
					<option>4</option>
					<option>5</option>
					<option>6</option>
				</select>
				<button v-on:click="createGame(createGameOptions.name, createGameOptions.numPlayers)">Create</button>
			</div>
			<div>
				<button v-on:click="refreshGameList()">Refresh Game List</button>
			</div>
			<ul>
				<li v-for="game in gameList" >
					<a href="#" v-on:click="joinGame(game.id)">
						{{ game.name }} ({{ game.occupied }}/{{ game.total }})
					</a>
				</li>
			</ul>
		</div>
		<div id="modeGame" v-if="mode == 'game'">
			<div>
				<button v-on:click="leaveGame()">Leave Game</button>
			</div>
			<div class="gameInfo">
				<div>
					<b>Trump Suit: </b>{{ suits[trumpSuit] }}
				</div>
				<div>
					<b>Trump Rank: </b>{{ trumpRank }}
				</div>
				<div v-if="attackingPlayers.length > 0">
					<b>Attacking Team Points: </b>{{ attackingPoints }}
				</div>
				<span>
					You are: <span class="heading">{{ playerName }}</span>
				</span>
			</div>
			<div class="playerInfoContainer">
				<div :class="['playerInfo', playerPosition(index)]" v-for="(player, index) in players">
					<p
						class="playerName"
						:class="{
							turn: turn == index,
							left: player.left,
						}">
						<template v-if="player.left && isObserver">
							<a href="#" v-on:click="joinGameAs(game_id, index)">
								{{ player.name }}
							</a>
						</template>
						<template v-else>
							{{ player.name }}
						</template>
					</p>
					<template v-if="attackingPlayers.length == 0">
						<div>Points: {{ playerPoints[index] }}</div>
					</template>
					<div class="playingCards fourColours">
						<ul class="hand">
							<li v-for="card in board[index]">
								<card :suit="card.suit" :rank="card.value"
									:trump-suit="trumpSuit" :trump-rank="trumpRank">
								</card>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<template v-if="cards.length > 0">
				<div class="playerHand">
					<span>
						<span class="heading">Hand</span>&nbsp;
						<template v-if="status == 'dealing'">
							<button v-on:click="declare" :disabled="selectedCards.length == 0">Declare</button>
						</template>
						<template v-if="canSetBottom">
							<button v-on:click="setBottom" :disabled="selectedCards.length != bottomSize">Set Bottom</button>
						</template>
						<template v-if="canPlay">
							<button v-on:click="play" :disabled="selectedCards.length == 0">Play</button>
						</template>
					</span>
				</div>
			</template>
			<div class="playingCards fourColours">
				<ul class="hand">
					<li v-for="card in cards">
						<card :suit="card.suit" :rank="card.value"
							:selected="card.selected" v-on:update-selected="val => card.selected = val"
							:selectable="canSelectNewCards"
							:trump-suit="trumpSuit" :trump-rank="trumpRank">
						</card>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script src="js/socket.io.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="js/app.js"></script>
</body>
</html>
